.DS_Store
*pdf
*mat
*.avi
*.asv
development
testing*
testing/
plots/*
examples/systemData/
__pycache__/
examples/__pycache__/
examples/chisholmAndRBFAndOther/
utils/kronDiff.m
examples/runExample11_PMP.m
examples/example11ExportedControlFunction.py