.DS_Store
*pdf
*mat
*.avi
*.asv
obsolete
development
chatGPT_FEM.m
ode45Test.m
testingKronAssembleGlobal.m
approxPastEnergyQB.m 
approxFutureEnergyQB.m 
memUsed.m 
testingIndexing.m 
testing*
*Test.m
*Testing.m
plots/*